/* Base styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #dce2e8;
  margin: 0;
  padding: 0;
  color: #444;
}

/* Container */
.container {
  display: flex;
  justify-content: center;
  padding: 40px 30px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(203, 203, 243) 0%, rgb(206, 237, 245) 100%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

/* Card Container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

/* Card */
.card {
  position: relative;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(224, 224, 238, 1) 0%, rgb(147, 223, 240) 100%);
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  padding: 24px;
  width: calc(33% - 32px);
  max-width: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  border: 1px solid #e3e6ea;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
}

/* Card Header */
.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Icon */
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 42px;
  border-radius: 12px;
  margin-right: 20px;
  background-color: #f1f3f5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Heading */
h2 {
  color: #333;
  font-size: 24px;
  margin: 0;
  font-weight: 600;
}

/* Details Section */
.details h3,
.total-item h3,
.total-item p,
.details p {
  margin: 12px 0;
  font-size: 18px;
}

.details ul,
.details p {
  margin: 12px 0;
}

.details ul {
  list-style: none;
  padding: 0;
}

.details ul li,
.transaction-details {
  font-size: 16px;
  margin: 8px 0;
}

/* Total Item */
.total-item {
  display: flex;
  align-items: center;
}

.total-item .icon {
  margin-right: 12px;
}

.total-item p {
  margin: 0;
}

/* Total Line */
.total-line {
  border-top: 1px solid #ddd;
  margin: 24px 0;
}

/* Button */
.button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 14px 28px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #2bf44d, #668aee);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 16px;
}

.button:hover {
  background: #47b688;
  transform: translateY(-2px);
}

/* Icon Backgrounds */
.income-icon {
  background-color: #f6e3a9;
}

.expense-icon {
  background-color: #ff8a65;
}

.todo-icon {
  background-color: #7ed4cc;
}

.trans-icon {
  background-color: #ba68c8;
}

.total-icon {
  background-color: #81c784;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .card {
    width: calc(50% - 24px);
    max-width: none;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    max-width: none;
    margin: 12px 0;
  }

  .button {
    position: static;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .transaction-details {
    display: block;
  }
}

/* Email List Container */
.email-list-container {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 25px;
  max-width: 750px;
  margin: 30px auto;
}

/* Title */
.email-list-title {
  font-size: 26px;
  color: #333;
  margin-bottom: 20px;
}

/* Email List */
.email-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Email List Item */
.email-list-item {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 12px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.email-list-item:hover {
  background-color: #eaeaea;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Email Header */
.email-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.email-from {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.email-subject {
  font-size: 18px;
  color: #666;
}

/* Email Body */
.email-body {
  display: flex;
  align-items: center;
}



.email-amount {
  font-size: 20px;
  color: #007bff;
  font-weight: bold;
}

.email-category {
  font-style: italic;
  padding: 10px;
  margin-left: 130px;
  color: #1a1a1a;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 768px) {
  .email-list-container {
    padding: 15px;
    margin: 15px;
  }

  .email-list-title {
    font-size: 20px;
  }

  .email-list-item {
    padding: 8px;
    margin-bottom: 10px;
  }

  .email-header {
    flex-direction: column;
  }

  .email-from {
    font-size: 18px;
  }

  .email-subject {
    font-size: 16px;
    margin-top: 5px;
  }

  .email-body {
    flex-direction: column;
    align-items: flex-start;
  }

  .email-amount {
    font-size: 18px;
  }

  .email-category {
    margin-left: 0;
    font-size: 18px;
  }
}