<app-side-nav></app-side-nav>
<div class="main-container">
    <div class="container">
        <h2>Transaction History</h2>
        <form [formGroup]="todoForm" (ngSubmit)="onSubmitExpense()" class="input-form">
            <div class="form-group">
                <select formControlName="month" id="month" class="form-control" (change)="onChangeExpense($event)">
                    <option value="select month" disabled>Select Month</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="July">July</option>
                </select>
            </div>
            <!-- <div class="form-group">
                <input formControlName="transactionType" type="text" placeholder="Transaction Type"
                    class="form-control">
            </div>
            <div class="form-group">
                <input formControlName="amount" type="number" placeholder="Amount" class="form-control">
            </div> -->
            <div class="total-todoTrans">
                Transactions for {{ selectedMonth }}: ₹{{ calculateTotalTransaction(selectedMonth) }}
            </div>
            <!-- <button type="submit" class="btn btn-primary">Add Transaction</button> -->
        </form>
        <hr>
        <h3>Transaction History List - {{ selectedMonth }}</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Transaction Type</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todoTrans of getFilteredTransactions()">
                    <td>{{ todoTrans.transactionType }}</td>
                    <td>{{ todoTrans.amount }}</td>
                </tr>
            </tbody>
        </table>
        <div class="input-form">
            <button class="btn btn-primary" (click)="onBack()">Back</button>
        </div>
    </div>
</div>